.cards-repeater {
    padding: 10px;
}

.cards-repeater_buttons-container {
    justify-content: space-between;
    padding: 10px;
}

.cards-repeater_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
